.page-clients {
  background-color: var(--main-title-color);
  padding-top: 95px;
  padding-bottom: 95px;
}

.clients-list {
  display: flex;
  margin-right: -30px;
  flex-wrap: wrap;
  & > .clients-list__item:not(:last-child) {
    flex-basis: calc(100% / 6 - 30px);
    margin-right: 30px;
  }
}

.clients-list__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.clients-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: var(--accent-color);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--accent-color);
  }
  &:focus {
    fill: var(--accent-color);
  }
}
